<% layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center">Average Of the Responses</h1>
        </div>
    </div>
    <div class="mb-3">
        <p class="font-weight-bold">How would you rate your overall satisfaction
            with the internship experience? </p>
        <p>
            The average response was: <span class="font-weight-bold text-primary">
                <%= a1 %>
            </span>
        </p>
    </div>

    <div class="mb-3">
        <p class="font-weight-bold">Did the internship meet your expectations?
            Please explain. </p>
        <p>
            The average response was: <span class="font-weight-bold text-primary">
                <%= a2 %>
            </span>
        </p>
    </div>


    <div class="mb-3">
        <p class="font-weight-bold">How would you rate the level of support and
            guidance provided by your supervisor/mentor? </p>
        <p>
            The average response was: <span class="font-weight-bold text-primary">
                <%= a3 %>
            </span>
        </p>
    </div>


    <div class="mb-3">
        <p class="font-weight-bold"> Did the internship help you develop relevant
            skills for your field of study/career goals?</p>
        <p>
            The average response was: <span class="font-weight-bold text-primary">
                <%= a4 %>
            </span>
        </p>
    </div>

    <div class="mb-3">
        <p class="font-weight-bold"> Were the tasks and responsibilities assigned
            to you during the internship meaningful and aligned with your learning objectives? </p>
        <p>
            The average response was: <span class="font-weight-bold text-primary">
                <%= a5 %>
            </span>
        </p>
    </div>

    <div class="mb-3">
        <p class="font-weight-bold"> How would you rate the communication and
            collaboration within the internship team? </p>
        <p>
            The average response was: <span class="font-weight-bold text-primary">
                <%= a6 %>
            </span>
        </p>
    </div>

    <div class="mb-3">
        <p class="font-weight-bold"> Did you encounter any challenges during the
            internship? </p>
        <p>
            The average response was: <span class="font-weight-bold text-primary">
                <%= a7 %>
            </span>
        </p>
    </div>

    <div class="mb-3">
        <p class="font-weight-bold"> Do you feel that the internship provided
            valuable networking opportunities? </p>
        <p>
            The average response was: <span class="font-weight-bold text-primary">
                <%= a8 %>
            </span>
        </p>
    </div>

    <div class="mb-3">
        <p class="font-weight-bold"> Would you recommend this internship program to
            other students? Why or why not? </p>
        <p>
            The average response was: <span class="font-weight-bold text-primary">
                <%= a9 %>
            </span>
        </p>
    </div>

    <div class="mb-3">
        <p class="font-weight-bold"> Is there any additional feedback or
            suggestions you would like to provide to improve the internship experience? </p>
        <p>
            The average response was: <span class="font-weight-bold text-primary">
                <%= a10 %>
            </span>
        </p>
    </div>