<% layout('layouts/boilerplate')%>

    <div class="row">
        <div class="col-6 offset-3 mb-3">
            <h1>Hi <%= student.name %> of <%= student.batch %>!!!
            </h1>
        </div>
        <div class="col-6 offset-3">
            <h1 class="text-center">The forms that you have to fill are:</h1>
            <div class="row">
                <div class="col-6">
                    <h2>Form_Name</h2>
                </div>

                <div class="col-6">
                    <h2>Form_Type</h2>
                </div>
            </div>
            <% for(let form of forms) { %>
                <div class="row">
                    <div class="col-6 ">
                        <p><a href="/api/v1/forms/fillForms/<%= form._id %>"
                                class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                <%= form.f_name %>
                            </a></p>
                    </div>

                    <div class="col-6 ">
                        <p>
                            <%= form.f_type %>
                        </p>
                    </div>
                </div>

                <% } %>

        </div>
    </div>